.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.title {
    display: inline-block;
    margin: 0 2rem;
    font-size: 2.4rem;
    font-weight: bold;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    margin: 0 2rem;
    list-style: none;
}
.menu-item {
    padding: 0 1rem;
    cursor: pointer;
}
.menu-item:hover {
    color: #999999;
}